html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


/* Header */


.wrapper{
    max-width: 1400px;
    padding: 0 150px 0 150px;
}
.header_{

    display: flex;
}
.image{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 10px auto;    
}
.nav_container{
    margin: 150px 0px 0px 0px ;
}
.icon{
    display: none;
}
.topnav{   
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 60px;
    margin-bottom: 20px;
}
.topnav a{
    color: #373D63;
    vertical-align: top;
    position: relative;
}
.topnav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3.5px;
    border-radius: 2.5px;
    top: 100%;
    background-color: #9ba2dd;
    left: 0;
    transform: scale(0,1);
    transition: transform 0.6s ease;
}
.topnav a:hover::after{
    transform: scale(1,1);
}
.topnav a:hover{
    color:#6973B9;
    transition-duration: 0.8s;
}


/* Picture liceum4 */

.block_container{
    width: 100%;
    height: 250px;
    font-family:'Poppins', sans-serif;
    font-style: italic;
}

.block_container img{
    width: 100%;
    height: 250px;
    filter: brightness(60%);
    position: absolute;
}
.slogan h5{
    padding: 80px;
    text-align: center;
    position: relative;
    white-space: pre-line;
    color: #FFF;
    font-size:48px;
    font-weight: lighter;
    padding-bottom: 10px;
    
}
.slogan p{
    position: relative;
    text-align:center;
    color: #FFF;
    font-size: 30px;
}



.line{
    text-align: center;
    margin-top: 20px;
    background-color: #6973B9;
    color: #FFFF;
    font-size: 16px;
    font-family: 'Encode Sans', sans-serif;
    padding: 5px;
}




/* Block  */
.selection{
    font-family: 'Encode Sans', sans-serif;
    margin:50px 0px 70px 0 ;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    font-size: 16px;

}
.selection img{
    width: 65px;
    height: 70px;
    padding: 10px;
}
.selection h4{
    padding-bottom: 5px;
}
.filology_card{
    background-color: #9ba2dd;  
    color: #000;
    box-shadow: 0 0 70px 70px #D7DCFF inset, 0 0 0 0 #D7DCFF;
    -webkit-transition:all 150ms ease-in-out;
    transition:all 550ms ease-in-out;
    width: 300px;
    height: 160px;
    
}
.filology_card:hover {
    box-shadow: 0 0 10px 0 #D7DCFF inset, 0 0 10px 4px #D7DCFF;
}

.sys_card{
    background-color: #9ba2dd;  
    color: #000;
    box-shadow: 0 0 70px 70px #D7DCFF inset, 0 0 0 0 #D7DCFF;
    -webkit-transition:all 150ms ease-in-out;
    transition:all 550ms ease-in-out;
    width: 300px;
    height: 160px;
}
.sys_card:hover{
    box-shadow: 0 0 10px 0 #D7DCFF inset, 0 0 10px 4px #D7DCFF;
}

.tehnology_card{
    background-color: #9ba2dd;  
    color: #000;
    box-shadow: 0 0 60px 60px #D7DCFF inset, 0 0 0 0 #D7DCFF;
    -webkit-transition:all 150ms ease-in-out;
    transition:all 550ms ease-in-out;
    width: 300px;
    height: 160px;
}
.tehnology_card:hover{
    box-shadow: 0 0 10px 0 #D7DCFF inset, 0 0 10px 4px #D7DCFF;
}

.nature_card{
    background-color: #9ba2dd;  
    color: #000;
    box-shadow: 0 0 70px 70px #D7DCFF inset, 0 0 0 0 #D7DCFF;
    -webkit-transition:all 150ms ease-in-out;
    transition:all 550ms ease-in-out;
    width: 300px;
    height: 160px;
}
.nature_card:hover{
    box-shadow: 0 0 10px 0 #D7DCFF inset, 0 0 10px 4px #D7DCFF;
}


.news{
    width: 100%;
    height: 780px;
}
.news img{
    width: 100%;
    height: 250px;
    filter: brightness(60%);
    display: block;
    position: absolute
}
.header_news{
    width: 100%;
    height: 250px;
}
.header_news h1{
    vertical-align: middle;
    line-height: 250px; 
    text-align: center;
    position: relative;
    color: #FFF;
    font-family: 'Encode Sans', sans-serif;
    font-size: 35px;
}













































   


